* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
:root {
  --primary-font-color: #212121;
  --sky-blue: #90cfcf;
  --light-grey: #eaeaea;
}
.header {
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: var(--sky-blue);

  > .navbar {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    > .logo_container {
      margin-left: 3rem;
      height: 8rem;
      width: 20rem;
      display: flex;
      flex-direction: row;
      justify-content: start;
      align-items: center;
      cursor: pointer;
      > img {
        height: 7rem;
        aspect-ratio: 1;
      }
      > .logo_name {
        font-family: "Bruno Ace SC", sans-serif;
        font-size: 2.3rem;
        margin-left: 0.7rem;
        line-height: 2.4rem;
      }
    }
  }
}

.footer {
  height: 3rem;
  width: 100%;
  background-color: var(--light-grey);
  display: flex;
  justify-content: center;
  align-items: center;
  > .copy_right {
    font-family: "poppins", sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--primary-font-color);
  }
}
